@mixin image_box($width) {
  position: relative;
  box-shadow: 0 0 3.2rem rgba(0,0,0,0.25);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: $width solid;
    border-image: linear-gradient(
      207.81deg,
      rgba(255, 255, 255, 0.95) 16.78%,
      rgba(255, 255, 255, 0.2) 24.67%,
      rgba(255, 255, 255, 0.2) 76.88%,
      #ffffff 86.66%
    );
    border-image-slice: 1;
  }
}
