$primary-font: "Jost", sans-serif;
$secondary-font: "Kaisei Decol", serif;

$gray-color: #efefef;
$gray-light: #545c64;
$gray-medium-color: #343a40;
$gray-dark-color: #2b2f33;
$orange-color: #d59d66;
$blue-dark-color: #1f2131;
$white-color: #f8f8f8;
$white-light-color: rgba(248, 248, 248, 0.7);

$text-color: rgba(52, 58, 64, 0.7);
$text-size: 2rem;
